if initiator === recipient
   | Hi there, #{recipient.name}!  Thanks for starting this Secret Santa and I hope you found this tool useful.  You were assigned #{assignee.name} (#{assignee.email}).
   | Next steps: get in touch with your friends and family to make sure that they got their emails and plan the rest of the details!
else
   | Hi #{recipient.name}! Your friend #{initiator.name} started a Secret Santa and you were assigned #{assignee.name} (#{assignee.email})